.main {
  display: grid;
  grid-template-columns: repeat(8, .5fr);
  justify-content: center;
  min-height: 100vh;
}

.founder {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
  grid-row: 1;
  grid-column: 4/6 ;
  background-color: grey;
  justify-content: center;
  align-items: center;
}

.founder img {
  object-fit: contain;
  margin-bottom: 10px;
  border-radius: 1rem;
  height: 50%;
  width: 50%;
}
