html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.home-grid {
  display: grid;
  grid-template-columns: 0.2fr repeat(5, 1fr) 0.2fr;
  grid-template-rows: .8fr;
  min-height: 100vh;
  gap: 10px;
  margin-top: 10px;
}

.primary {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(86,86,120,1) 58%, rgba(2,0,36,1) 92%);
}


.primary btn {
  background-color: #002855;
}

.secondary {
  background-color: #f8f9fa;
}

.tertiary {
  background-color: #f4f4f4;
}

.child {
  height: 50px;
  width: 50px;
}

.slider {
  grid-column: 2 / 7;
  grid-row: 1;
  overflow: hidden;
}

.slider img{
  border-radius: 1rem;
}


.info-block{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-row: 2;
  grid-column: 2/7;
  padding: 10px;
  border-radius: 0.25rem;
}

.app-container {
  margin: 0;
  padding: 0;
  height: 100%;
}
